= form_for @subcategory do |f|
  - if @subcategory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@subcategory.errors.count, "error")} prohibited this subcategory from being saved:"
      %ul
        - @subcategory.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "#{Subcategory.human_attribute_name(:name)}"
    = f.text_field :name
  .field
    = f.label "#{Subcategory.human_attribute_name(:specifications)}"
    = f.text_field :specifications
  .field
    = f.label "#{Subcategory.human_attribute_name(:category)}"
    = f.select :category_id, category_for_select
  .filed
    = f.label :avatar
    = f.file_field :avatar, input_html: { accept: 'image/*' }, id: 'avatar', class: 'text-center'
  .actions
    = f.submit 'Сохранить'
