.product-model
  .container
    .product-price1
      %br
      %br
      %h2 Вход
      %br
      %br
      %br
      %br
      .top-sing
        .col-md-12.text-center

          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label "E-mail"
              = f.email_field :email, autofocus: true, autocomplete: "email"
            .field
              = f.label "Пароль"
              = f.password_field :password, autocomplete: "current-password"
            - if devise_mapping.rememberable?
              .field
                = f.check_box :remember_me
                = f.label "Запомнить меня?"
            .actions
              = f.submit "Войти"
          = render "devise/shared/links"
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
          %br
