%script{:src => "responsiveslides.min.js"}
:javascript
  $(function () {
    $("#slider").responsiveSlides({
    	auto: true,
    	nav: true,
    	speed: 500,
      namespace: "callbacks",
      pager: false,
    });
  });
.slider
  .callbacks_container
    %ul#slider.rslides
      %li
        .banner1
          .banner-info
      %li
        .banner2
          .banner-info
      %li
        .banner3
          .banner-info

%br
%br
%br
.col-md-12.about-us
  %h3.text-center
    %a{:href => subcategories_path}= "Новогодние украшения"
%script{:src => "bootstrap.js"} :cdata
.items
  .container
    .col-md-3.feature-grid
      %a{:href => subcategories_path(cat: 1)}= image_tag('dur.png')
      .arrival-info
        %a{:href => subcategories_path(cat: 1)}
          %h4= Category.find(1).name
          %p= Category.find(1).name

    .col-md-3.feature-grid
      %a{:href => subcategories_path(cat: 3)}= image_tag('zan.png')
      .arrival-info
        %a{:href => subcategories_path(cat: 3)}
          %h4= Category.find(3).name
          %p= Category.find(3).name
    .col-md-3.feature-grid
      %a{:href => subcategories_path(cat: 4)}= image_tag('dred.png')
      .arrival-info
        %a{:href => subcategories_path(cat: 4)}
          %h4= Category.find(4).name
          %p= Category.find(4).name
    .col-md-3.feature-grid
      %a{:href => subcategories_path(cat: 5)}= image_tag('set.png')
      .arrival-info
        %a{:href => subcategories_path(cat: 5)}
          %h4= Category.find(5).name
          %p= Category.find(5).name
%br
%br
