%script{:src => "responsiveslides.min.js"}
:javascript
  $(function () {
    $("#slider").responsiveSlides({
    	auto: true,
    	nav: true,
    	speed: 500,
      namespace: "callbacks",
      pager: false,
    });
  });
.slider
  .callbacks_container
    %ul#slider.rslides
      %li
        .banner1
          .banner-info
            %h3 Morbi lacus hendrerit efficitur.
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.
      %li
        .banner2
          .banner-info
            %h3 Phasellus elementum tincidunt.
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.
      %li
        .banner3
          .banner-info
            %h3 Maecenas interposuere volutpat.
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.
/
%script{:src => "bootstrap.js"} :cdata
.items
  .container
    .items-sec
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('1.png')
          .arrival-info
            %h4 Новогодние украшения
            %p Новогодние украшения
          .viw
            %a{:href => products_path}
              %span.glyphicon.icon-bar{"aria-hidden" => "true"}>
              View
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('6.png')
          .arrival-info
            %h4 Частые дома
            %p Частые дома
          .viw
            %a{:href => products_path}
              %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}>
              View
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('4.png')
          .arrival-info
            %h4 Торговые центры
            %p Торговые центры
          .viw
            %a{:href => products_path}
              %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}>
              View
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('2.png')
          .arrival-info
            %h4 Ели
            %p Ели
          .viw
            %a{:href => products_path}
              %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}>
              View
      .clearfix
    .items-sec.btm-sec
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('3.png')
          .arrival-info
            %h4 Категория
            %p Категория
          .viw
            %a{:href => products_path}
              %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}>
              View
      .col-md-3.feature-grid
        %a{:href => products_path}
          %img= image_tag('5.png')
          .arrival-info
            %h4 Категория
            %p Категория

          .viw
            %a{:href => products_path}
              %span.glyphicon.glyphicon-eye-open{"aria-hidden" => "true"}>
              View
