%script{:src => "responsiveslides.min.js"}
:javascript
  $(function () {
    $("#slider").responsiveSlides({
    	auto: true,
    	nav: true,
    	speed: 500,
      namespace: "callbacks",
      pager: false,
    });
  });
.slider
  .callbacks_container
    %ul#slider.rslides
      %li
        .banner1
          .banner-info
      %li
        .banner2
          .banner-info
      %li
        .banner3
          .banner-info

%br
%br
%br
.col-md-12.about-us
  %h3.text-center
    %a{:href => products_path}= "Новогодние украшения"
%script{:src => "bootstrap.js"} :cdata
.items
  .container
    .items-sec
      .col-md-3.feature-grid
        %a{:href => subcategories_path(cat: 1)}
          %img= image_tag('3.png')
          .arrival-info
            %h4= Category.find(1).name
            %p= Category.find(1).name
      .col-md-3.feature-grid
        %a{:href => subcategories_path(cat: 2)}
          %img= image_tag('3.png')
          .arrival-info
            %h4= Category.find(2).name
            %p= Category.find(2).name
      .col-md-3.feature-grid
        %a{:href => subcategories_path(cat: 3)}
          %img= image_tag('3.png')
          .arrival-info
            %h4= Category.find(3).name
            %p= Category.find(3).name
      .col-md-3.feature-grid
        %a{:href => subcategories_path(cat: 4)}
          %img= image_tag('3.png')
          .arrival-info
            %h4= Category.find(5).name
            %p= Category.find(5).name
%br
%br
