= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label "#{Category.human_attribute_name(:name)}"
    = f.text_field :name
  .field
    = f.label "#{Category.human_attribute_name(:description)}"
    = f.text_field :description
  .field
    = f.label "#{Category.human_attribute_name(:specifications)}"
    = f.text_field :specifications
  .field
    = f.label "#{Category.human_attribute_name(:area)}"
    = f.text_field :area
  .actions
    = f.submit 'Сохранить'
