.product
  .container
    .product-price1
      .top-sing
        .col-md-7.single-top
          %ul.slides
            %img= image_tag(@product.avatar.url) 

        .col-md-5.single-top-in.simpleCart_shelfItem
          .single-para
            %h4= @product.name
            %h5.item_price= @product.price.to_s + " руб."
            %p.para= @product.description
            .prdt-info-grid
              %ul
                %li= @product.subcategory.name
                %li= @product.color_light

            %a.add-cart.item_add{:href => "#"} Добавить в корзину
        .clearfix
