.footer
  .container
    .footer-grids
      .col-md-4.about-us
        %h3 О нас
        %p= "ООО \"ТИМЛАЙТ\""
        %p= " Расширь границы света вместе с нами"

      .col-md-5.ftr-grid
        %h3 Категории
        %ul.nav-bottom
          - if @categories.present?
            - @categories.each do |c|
              %li
                %a{:href => subcategories_path(cat: c.id)}= c.name
      .col-md-3.ftr-grid
        %h3 Информация
        %ul.nav-bottom
          %li=             "ООО \"ТИМЛАЙТ\""
          %li=             "ОРГН 1175050008870"
          %li=            " ИНН 5038129620"
          %li=            " КПП 503201001"
      .clearfix

.copywrite
  .container
    .copy
      %p
        © 2018
    .clearfix
